<form action="/Lettres/Enter" method="get">

    <label class="col-form-label">Combien de voyelle voulez vous ? (Entre 1 et 9)</label>

    <input type="number" class="form-control" name="NbreVoyelle" value="1" min="1" max="9" required />

    <br />

    <input type="submit" class="form-control btn btn-success" name="" value="valider" />

</form>

<br /><br />

<form action="/Home/" method="post">
    <input type="submit" class="form-control btn btn-info" name="" value="retour" />
</form>