
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>Voici la liste des chiffre @ViewBag.ListChiffre</div>
<div>Vous devez calculé le nombre : @ViewBag.NombreACalc</div>
<input />